<div class="container-fluid">

    <div class="row pt-3">
        <div class="col">

            <h1 class="text-center text-dark">Listado de las operaciones</h1>

        </div>
    </div>

    <div class="container d-flex align-items-center justify-content-center">
      <div class="row">
        <div class="col-12 mt-5">

          <table border="4" class="table table-responsive">
            <tr border=" class="table-dark">
              <td>Operaciòn</td>
              <td>Concepto</td>
              <td>Monto</td>
              <td>Fecha</td>
              <td>Tipo</td>
              <td>Eliminar</td>
              <td>Modificar</td>
              
            </tr>
            
            {{#each data}}
            <tr class="table-info">
              <td>{{id}} </td>
              <td>{{concepto}}</td>
              <td>{{monto}}</td>
              <td>{{fecha}}</td>
              <td>{{tipo}}</td>
              <td><a href="/operaciones/eliminarOperacion/{{id}}" class="btn btn-danger">Eliminar</a></td>
              <td><a href="/operaciones/modificarOperacion/{{id}}" class="btn btn-secondary">Modificar</a></td>
              

            </tr>
            {{/each}}
          </table>

        </div>
      </div>
    </div>
   
   <div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">

            <a href="/operaciones/altaOperacion" class="btn btn-success m-3">Nueva operación</a>
            <a href="/" class="btn btn-primary btn-block mt-4">Retornar</a>
        </div>
      </div>
    </div>

  