<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">

            <h1 class="text-center text-dark mt-3">Listado de las operaciones</h1>

          </div>
      </div>

     <div class="container d-flex ">
      <div class="row justify-content-center">
        <div class="col-12 mt-3">

          <table border="4" class="table table-responsive text-center mt-3" id="tabla">
            <tr border="3">
              <td>Operación</td>
              <td>Concepto</td>
              <td>Monto</td>
              <td>Fecha</td>
              <td>Tipo</td>
              <td>Eliminar</td>
              <td>Modificar</td>
              
            </tr>
            
            {{#each data}}
            <tr class="table-info">
              <td>{{id}} </td>
              <td>{{concepto}}</td>
              <td>{{monto}}</td>
              <td>{{fecha}}</td>
              <td>{{tipo}}</td>
              <td><a href="/operaciones/eliminarOperacion/{{id}}" class="btn btn-danger">Eliminar</a></td>
              <td><a href="/operaciones/modificarOperacion/{{id}}" class="btn btn-secondary">Modificar</a></td>
              

            </tr>
            {{/each}}
          </table>

        </div>
      </div>
      </div>
   
      <div class="container-fluid d-flex align-items-center justify-content-around">

      <div class="row justify-content-center">
         <div class="col-12 mt-3">


            <a href="/operaciones/altaOperacion" class="btn btn-success mb-3 mr-3">Nueva operación</a>
            <a href="/" class="btn btn-primary mb-3 mr-3">Retornar al Inicio</a>
            
        </div>
      </div>
    </div>
  </div>
</div>
  